---
import Layout from '../layouts/Layout.astro'
import VerifiedIcon from '../components/icons/Verified.astro'
import ImageBlur from '../components/ImageBlur.astro'
import Card from '../components/Card.astro'
import TimeLine from '../components/TimeLine.astro'

import Carousel from '../components/Carousel'
import VideoPlayer from '../components/VideoPlayer'
import CardImage from '../components/CardImage.astro'
import SocialIcons from '../components/SocialIcons.astro'
---

<Layout title="Welcome to Astro.">
  <main class="max-w-2xl mx-auto flex flex-col items-center gap-6 px-4 py-10">
    <!-- 	<Image
		isBlurred
		width={240}
		src="https://ritzudev.netlify.app/profile.jpg"
		alt="NextUI Album Cover"
		className="m-5"
		client:visible
	/> -->

    <!--     <div class="relative">
      <img
        class="w-60 shadow-2xl rounded-xl relative z-10"
        src="https://ritzudev.netlify.app/profile.jpg"
        alt=""
      />
      <img
        class="w-60 shadow-2xl rounded-xl blur-lg absolute z-0 inset-0"
        src="https://ritzudev.netlify.app/profile.jpg"
        alt=""
      />
    </div> -->

    <ImageBlur urlImage="https://ritzudev.netlify.app/profile.jpg" />

    <SocialIcons />

    <h1 class="font-bold text-4xl flex items-center gap-2 dark:text-white">
      <VerifiedIcon class="size-6 text-[#1d9bf0]" /> Dr. Olliver Núñez
    </h1>

    <Card>
      <p class="">
        El Dr. Olliver Núñez Cantú es Médico Cirujano Militar del Ejército y
        Fuerza Aérea de México, graduado con Mención Honorífica. Especialista en
        Cirugía General, formado en el Hospital Central Militar de la Ciudad de
        México y graduado de igual manera con Mención Honorífica. Continuó su
        preparación realizando el curso de alta especialidad en Cirugía de
        Trauma y Cuidados Críticos Quirúrgicos en el extranjero.
      </p>
    </Card>

    <TimeLine />
    <Carousel client:visible />

    <div class="grid-cols-2 grid w-full gap-6">
      <CardImage
        title="Cirugía de mínima invasión"
        image="https://www.newrospine.com.mx/wp-content/uploads/2020/10/cirugia_minima_invasion_3.jpg"
      />
      <CardImage
        title="Cirugía General"
        image="https://mediterranean-healthcare.com/documents/images/20111128134031.jpg"
      />
      <CardImage
        title="Cirugía Robotica"
        image="https://staticnew-prod.topdoctors.mx/files/Image/large/f44d8390ecedce15a23e32c8f41b2388.jpeg"
      />
    </div>

    <!-- <Player client:visible /> -->
    <VideoPlayer client:visible />

    <!--     <video class="flex w-full h-full" src="/lana.mp4" controls>
      
      Tu navegador no admite el elemento <code>video</code>.
    </video> -->

    <!-- 	<CardUI client:visible>
		<p>
			El Dr. Olliver Núñez Cantú es Médico Cirujano Militar del Ejército y
			Fuerza Aérea de México, graduado con Mención Honorífica. Especialista en
			Cirugía General, formado en el Hospital Central Militar de la Ciudad de
			México y graduado de igual manera con Mención Honorífica. Continuó su
			preparación realizando el curso de alta especialidad en Cirugía de
			Trauma y Cuidados Críticos Quirúrgicos en el extranjero.
		</p>
	</CardUI> 

	
	<Button>Button</Button> -->
    <!-- <Slider client:visible /> -->

    <!-- <NextCard client:visible /> -->
  </main>
</Layout>

<style>
  /* main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  } */
</style>
