---
interface Props {
  title: string
  image: string
}

const { title, image } = Astro.props
---

<div
  class="flex flex-col bg-[#313138] text-white rounded-xl h-60 hover:scale-105 transition-all duration-500"
>
  <img class="flex-1 object-cover h-36 rounded-xl" src={image} alt="" />
  <footer class="p-2 font-semibold">{title}</footer>
</div>
