---
import Facebook from './icons/Facebook.astro'
import Instagram from './icons/Instagram.astro'
import X from './icons/X.astro'
import Youtube from './icons/Youtube.astro'

const ICONS = [X, Facebook, Instagram, Youtube]
---

<ul class="flex flex-row gap-4">
  <li><Facebook class="size-10" /></li>
  <li><Instagram class="size-10" /></li>
  <li><X class="size-10" /></li>
  <li><Youtube class="size-10" /></li>
</ul>
