<ol class="relative border-s border-gray-300 dark:border-gray-700">
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >Fecha 1</time
    >
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Título 1
    </h3>
    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo asperiores
      assumenda culpa itaque voluptates, animi doloremque est eveniet quam
      dignissimos quas vel non obcaecati saepe necessitatibus expedita magni
      vitae commodi!
    </p>
  </li>
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >Fecha 2</time
    >
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Título 2
    </h3>
    <p class="text-base font-normal text-gray-500 dark:text-gray-400">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque deserunt
      architecto totam exercitationem magni voluptates recusandae modi
      perspiciatis quos est natus ipsum sed dolore hic fugit quam, officiis
      officia numquam!
    </p>
  </li>
  <li class="ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >Fecha 3</time
    >
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Título 3
    </h3>
    <p class="text-base font-normal text-gray-500 dark:text-gray-400">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, sequi eum,
      sapiente error earum repellat dolorem nulla, molestiae provident dolores
      aperiam quisquam? Similique dolor sed sequi nemo tenetur non quasi?
    </p>
  </li>
</ol>
